<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/social.css">
</head>
<body>
    <h1>Hello, Welcome to the social media app</h1>

    <header>
        <ul>
            <li>Home</li>
            <li>Search</li>
            <li>Bookmark</li>
            <li>Following</li>
            <li>Profile</li>
        </ul>
    </header>

    <main>
        <section>
            <p>Profile Data</p>
            <p>Data Content</p>
            <ul>
                <li>Like</li>
                <li>Comment</li>
                <li>Bookmark</li>
            </ul>
        </section>
    </main>


    <script src="js/main.js"></script>
</body>
</html>